* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @font-face {
    font-family: Consolas; //自定义字体名称
    src: url("@/assets/fonts/CONSOLA.TTF"); //存放字体文件的路径
  }
}
